/**
 * EDD Better Checkout for FFW.Press
 * 
 * @author Daan van den Bergh
 * @url https://ffw.press
 */

#content {
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e6e6e6;
    background-position: top center;
}

.edd-checkout .ast-separate-container {
    background-color: #e6e6e6;
}

.edd-checkout.ast-separate-container article.ast-article-single {
    padding: 0;
}

.edd-checkout legend, .edd-checkout label, .edd-checkout #edd_final_total_wrap, table tfoot, #edd-purchase-button {
    font-family: 'Jost';
}

.edd-checkout #edd_checkout_wrap {
    max-width: 1200px !important;
    /** Overwrite inline styles */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.edd-checkout #edd_checkout_wrap input[type="submit"] {
    background-color: #2ECC40;
}

.edd-checkout #edd_checkout_wrap input[type="submit"]:hover {
    background-color: #3D9970;
}

#edd_checkout_wrap a, #edd_checkout_wrap input[type="submit"] {
    cursor: pointer;
}

#edd_checkout_form_wrap fieldset {
    border: 0;
}

#ffwpress-payment-details__wrapper {
    background-color: transparent;
    padding: 0;
    width: 66%;
}

#ffwpress-payment-details__wrapper.notification-area {
    padding-top: 20px;
}

#ffwpress-cart__wrapper {
    width: 34%;
    background: #0daadb;
    padding: 15px 30px 30px;
}

#edd_purchase_form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/**
* Notification area
*/

.edd-alert {
    margin: 0 30px;
    padding: 10px 20px;
}

#edd_checkout_wrap p.edd_error, #edd_checkout_wrap .edd-alert-info p {
    padding: 0;
}

#edd_checkout_wrap fieldset#edd_sl_renewal_fields {
    border: 0;
    background: #0daadb;
    color: white;
    border-radius: 3px;
    margin: 20px 30px 10px;
    padding: 10px 20px 5px;
}

#edd_sl_renewal_fields p {
    padding-left: 0;
}

#edd_sl_renewal_fields .edd-sl-renewal-form-fields {
    padding: 0;
}

#edd_checkout_wrap fieldset#edd_sl_renewal_fields a {
    color: white;
    text-decoration: underline;
}

.edd-sl-renewal-actions {
    margin: 15px 0 10px;
}

/**
* Loader
*/

.ffwp-loader.edd-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/**
 * Makes the placeholders disappear: POOF!
 * Cleaner solution than a template override.
 */

::-webkit-input-placeholder {
    color: transparent;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: transparent;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: transparent;
}

:-ms-input-placeholder {
    color: transparent;
}

/**
* Personal Info and Billing Address
*/

#edd_checkout_user_info legend:after {
    content: 'VAT will be recalculated when you have entered your details below.';
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: .6em;
    font-style: italic;
    font-weight: 400;
    color: #3a3a3a;
    margin-left: 10px;
    opacity: .7;
}

#ffwpress-payment-details__wrapper fieldset legend, #ffwpress-cart__wrapper fieldset legend {
    color: #0daadb;
    background-color: transparent;
    border-bottom: 0;
}

#edd-first-name-wrap, #edd-last-name-wrap, #edd-card-address-wrap, #edd-card-address-2-wrap, #edd-card-zip-wrap, #edd-card-city-wrap, #edd-card-state-wrap, #edd-card-country-wrap, #edd_final_total_wrap {
    width: 48%;
    display: inline-block;
    margin-right: 0;
    padding-right: 0 !important;
}

.edd-input, .edd-select {
    border-radius: 3px !important;
    padding: 15px 20px !important;
    width: 100%;
}

/**
* Payment Details
*/

#edd_checkout_form_wrap .edd-description, #edd_cc_address legend, #edd_cc_fields legend, #edd_sl_renewal_fields legend, #edd_secure_site_wrapper {
    display: none;
}

#edd_payment_mode_select_wrap {
    width: 100%;
}

#edd_payment_mode_select legend {
    position: relative;
}

#edd_payment_mode_select legend:after {
    content: '';
    height: 100%;
    margin-right: 30px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#edd_checkout_wrap fieldset>div#edd-payment-mode-wrap {
    padding-right: 27px;
}

fieldset#edd_checkout_user_info {
    margin: 0;
    width: 100%;
}

#edd_checkout_wrap #edd_discount_code {
    margin-bottom: 10px;
}

#edd_checkout_form_wrap #edd-payment-mode-wrap label {
    margin-right: 15px;
}

#edd_checkout_form_wrap #edd-payment-mode-wrap label:last-child {
    margin-right: 0;
}

.edd-gateway-option {
    position: relative;
    width: 27.96%;
    padding: 15px 0 15px 15px;
    border: 1px #ddd solid;
    border-radius: 3px;
    cursor: pointer;
}

/** Credit Card payment methods has more logos, that's why we give it a little more space */

#edd-gateway-option-mollie_creditcard {
    width: 40%;
}

.edd-gateway-option:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50%;
}

.edd-gateway-option-selected {
    border: 1px #0daadb solid;
}

.edd-gateway-option input.edd-gateway {
    vertical-align: 0;
}

/**
 * Payment Method Additional Info
 */

#edd_checkout_form_wrap .payment-method-additional-info>label {
    font-weight: normal;
}

/**
* EU VAT
*/

.edd-vat-number-wrap {
    width: 48%;
    position: relative;
}

#edd-vat-number {
    width: 100%;
}

#edd-card-vat-wrap label, #edd-card-vat-wrap .edd-description {
    display: inline-block;
}

#edd-card-vat-wrap .edd-description {
    font-size: .75em;
}

#edd-vat-check-button.ffwp-vat-valid {
    background-color: #2ECC40;
}

#edd-card-vat-wrap .edd-loading-ajax.edd-loading {
    position: absolute;
    top: 15%;
    left: 100%;
}

/**
* Purchase Form
*/

#edd_purchase_form_wrap {
    position: relative;
    width: 100%;
    min-height: 25px;
}

#edd_purchase_form_wrap .edd-loading-ajax.edd-loading {
    position: absolute;
    left: 49%;
}

/**
* Terms & Conditions
*/

#edd_terms_agreement {
    padding: 15px 0 10px !important;
}

#edd-jilt-marketing-consent, #edd_agree_to_terms {
    height: 1.2rem;
    width: 1.2rem;
}

/**
* Shopping Cart
*/

#ffwpress-cart__wrapper fieldset legend {
    color: white;
    padding: 0;
}

#ffwpress-cart__wrapper .hide-on-desktop {
    display: none;
}

#edd_checkout_wrap fieldset#ffwpress_checkout_shopping_cart>div {
    padding: 0;
}

#edd_checkout_cart {
    position: relative;
}

table#edd_checkout_cart, td, tr, th {
    color: white;
    border: 0;
}

#edd_checkout_cart td, #edd_checkout_cart th {
    padding: 10px 5px;
    min-width: 58px;
    vertical-align: middle;
}

#edd_checkout_wrap .edd_cart_remove_item_btn {
    color: white;
    margin-left: 0;
    font-size: .75em;
}

td.edd_cart_item_price, th.edd_cart_tax, th.edd_cart_subtotal {
    text-align: right;
}

.edd_cart_footer_row .edd_cart_total {
    border-top: 1px white solid;
}

/* Fix for Software Licensing when renewed or upgraded */

.edd-sl-upgrade-details .edd-sl-upgrade-key {
    font-style: italic;
    word-break: break-all;
}

/**
* Discount Code
*/

#edd_checkout_wrap #edd_discount_code {
    border: 0;
    color: white;
}

#edd_discount_code p {
    padding-left: 0;
}

.edd_discount_link {
    color: white;
    text-decoration: underline;
}

#edd-discount-code-wrap label {
    font-weight: bold;
}

#edd-discount-code-wrap .edd-description {
    font-size: .75em;
    font-style: italic;
}

/**
* Complete Order
*/

#edd_checkout_form_wrap #edd_final_total_wrap {
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    border: 0;
}

#edd-purchase-button {
    width: 92.5%;
    font-size: 1.5rem;
    padding: 20px;
    margin: 0 30px;
}

.edd-apply-discount.hidden {
    display: none;
}

#edd-discount-error-wrap {
    display: block;
}

#edd-discount-error-wrap.edd-alert {
    margin: 15px 0;
}

@media only screen and (max-width: 480px) {
    #edd_payment_mode_select .ffwpress-secure-lock {
        padding-right: 0;
    }
    #edd_payment_mode_select .ffwpress-secure-lock:after {
        background-image: none !important;
    }
}

@media only screen and (max-width: 768px) {
    #ffwpress-payment-details__wrapper, #ffwpress-cart__wrapper {
        width: 100%;
    }
    #ffwpress-cart__wrapper.cart-wrapper-mobile {
        margin: 10px 30px 0;
        padding: 15px;
        text-align: center;
    }
    #ffwpress-cart__wrapper .ffwpress-cart-link {
        color: white;
        text-decoration: underline;
    }
    #ffwpress-cart__wrapper .hide-on-desktop {
        display: block;
    }
    #edd-first-name-wrap, #edd-last-name-wrap, #edd-card-address-wrap, #edd-card-address-2-wrap, #edd-card-zip-wrap, #edd-card-city-wrap, #edd-card-state-wrap, #edd-card-country-wrap, #edd-vat-number {
        width: 100%;
        padding-right: 30px !important;
    }
    #edd_checkout_cart td, #edd_checkout_cart th {
        padding: 10px 25px;
    }
    .edd-vat-number-wrap {
        width: 100%;
    }
    #edd_payment_mode_select legend::after {
        width: 159px !important;
    }
    #edd_checkout_form_wrap #edd-payment-mode-wrap label {
        margin-top: 10px;
    }
    #edd_checkout_form_wrap #edd-payment-mode-wrap label:first-child {
        margin-top: 0;
    }
    .edd-gateway-option, #edd-gateway-option-mollie_creditcard {
        width: 100%;
    }
    #edd-purchase-button {
        width: 100%;
        margin-left: 0;
    }
}