/**
 * General site-wide CSS modifications
 */
.single-download .edd_download_purchase_form .edd_purchase_submit_wrapper {
    margin-top: 5px;
}

.ffw-download-details {
    margin-top: 1.15em;
    margin-bottom: 0;
}

.ffw-download-details td {
    padding: 5px 10px;
}

#ffw-changelog-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100000000;
    transform: translate(-50%, -50%);
    background-color: #e6e6e6;
    color: #3a3a3a;
    height: 66%;
    overflow-y: auto;
    border-radius: 3px;
}

.ffw-changelog-popup-inner {
    position: relative;
}

#ffw-changelog-close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #3a3a3a !important;
}

.ffw-changelog-wrapper {
    padding: 4em 4em;
}